In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
url='https://raw.githubusercontent.com/anantdivanji/LearnDigital-/main/4th%20Sem/temperature_data.csv'

In [3]:
data=pd.read_csv(url)
data

  Temperature   Color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very Hot    Blue       1
3        Warm    Blue       0
4         Hot     Red       1
5        Warm  Yellow       0
6        Warm     Red       1
7         Hot  Yellow       0
8         Hot  Yellow       1
9        Cold  Yellow       1

# Observations
- Color variable contains the names of different color. ex: Red,Yellow,Blue(Unordered data).
- Temperature variable contains order among the values, like very hot,hot,warm,cold(Ordered data).

### Applying label encoding on temperature

In [4]:
data_lab=data.copy()

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
le

LabelEncoder()

In [6]:
data_lab['Temperature']=le.fit_transform(data_lab[['Temperature']])
data_lab

   Temperature   Color  Target
0            1     Red       1
1            0  Yellow       1
2            2    Blue       1
3            3    Blue       0
4            1     Red       1
5            3  Yellow       0
6            3     Red       1
7            1  Yellow       0
8            1  Yellow       1
9            0  Yellow       1

### Manual encoding of Temperature column

In [14]:
data_man=data.copy()
data_man

  Temperature   Color  Target
0         Hot     Red       1
1        Cold  Yellow       1
2    Very Hot    Blue       1
3        Warm    Blue       0
4         Hot     Red       1
5        Warm  Yellow       0
6        Warm     Red       1
7         Hot  Yellow       0
8         Hot  Yellow       1
9        Cold  Yellow       1

In [15]:
dic={
    'Cold':0,
    'Warm':1,
    'Hot':2,
    'Very Hot':3
}
dic

{'Cold': 0, 'Warm': 1, 'Hot': 2, 'Very Hot': 3}

In [16]:
data_man['Temperature']=data_man['Temperature'].replace(dic)
data_man

   Temperature   Color  Target
0            2     Red       1
1            0  Yellow       1
2            3    Blue       1
3            1    Blue       0
4            2     Red       1
5            1  Yellow       0
6            1     Red       1
7            2  Yellow       0
8            2  Yellow       1
9            0  Yellow       1

### One hot Encoding using sklearn OneHotEncoder()
1. import OneHotEncoder() from sklearn library
2. apply the OneHotEncoder() on the desired columns
3. convert step 2 output to a dataframe
4. concatenate the original data and the step 3 output
5. drop the original text columns from the data

In [27]:
data_ohe=data.copy()

In [28]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
ohe

OneHotEncoder()

In [29]:
dt_ohe=ohe.fit_transform(data_ohe[['Color']])
dt_ohe

<10x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10 stored elements in Compressed Sparse Row format>

In [30]:
dt_ohe.toarray()

array([[0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [31]:
dt_ohe=pd.DataFrame(dt_ohe.toarray(),columns=['Blue','Red','Yellow'])
dt_ohe

   Blue  Red  Yellow
0   0.0  1.0     0.0
1   0.0  0.0     1.0
2   1.0  0.0     0.0
3   1.0  0.0     0.0
4   0.0  1.0     0.0
5   0.0  0.0     1.0
6   0.0  1.0     0.0
7   0.0  0.0     1.0
8   0.0  0.0     1.0
9   0.0  0.0     1.0

In [32]:
data=pd.concat([data,dt_ohe],axis=1)
data

  Temperature   Color  Target  Blue  Red  Yellow
0         Hot     Red       1   0.0  1.0     0.0
1        Cold  Yellow       1   0.0  0.0     1.0
2    Very Hot    Blue       1   1.0  0.0     0.0
3        Warm    Blue       0   1.0  0.0     0.0
4         Hot     Red       1   0.0  1.0     0.0
5        Warm  Yellow       0   0.0  0.0     1.0
6        Warm     Red       1   0.0  1.0     0.0
7         Hot  Yellow       0   0.0  0.0     1.0
8         Hot  Yellow       1   0.0  0.0     1.0
9        Cold  Yellow       1   0.0  0.0     1.0

In [33]:
data=data.drop(columns='Color')
data

  Temperature  Target  Blue  Red  Yellow
0         Hot       1   0.0  1.0     0.0
1        Cold       1   0.0  0.0     1.0
2    Very Hot       1   1.0  0.0     0.0
3        Warm       0   1.0  0.0     0.0
4         Hot       1   0.0  1.0     0.0
5        Warm       0   0.0  0.0     1.0
6        Warm       1   0.0  1.0     0.0
7         Hot       0   0.0  0.0     1.0
8         Hot       1   0.0  0.0     1.0
9        Cold       1   0.0  0.0     1.0